.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(to bottom, #ffffff, #36b0c8);
  padding: 3rem 1rem;
  min-height: 95vh;
  margin-top: 5vh;
}
